*{
    box-sizing: border-box;
}

body{
       margin: 0;
       padding: 0;
}

#pantalla{

    display: flex;

}

.sideinfo{

    width: 25%;
    top: 0;
    left: 0;
    background-color: #fac699;
    
}

.sideinfo img{
      padding: 10px;
      
}



.sideinfo h2{

     padding-left: 10px;
     text-transform: uppercase;
     color: #3b3630;
     text-align: center;
     text-transform: uppercase;
     font-family: 'Ubuntu', sans-serif;;

}
.sideinfo ul li{

    padding-left: 10px;
    padding-right: 10px;
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;


}



.contenido{

    margin: 0;
    width: 75%;
    display: block;
    
    
}

#contenidohijo{

    block-size: auto;
    height:200px;
    width:auto;
    margin:0px;
    background-color: #3b3630;
    border: 0;
    
}
#contenidohijo h1{

    color: white;
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    justify-content: center;
    
}

#contenidohijo h2{

    color: #b48b75;
    font-size: 30px;
    text-align:center;
    letter-spacing: 10px;
    font-family: 'Ubuntu', sans-serif;
  
}

#contenidodatos {

    display: block;
    float:flex;
    background-color: white;
}

#contenidodatos h2{

    margin:20px;
    padding: 10px;
    color: #3b3630;
    text-decoration: solid;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Ubuntu', sans-serif;;
    
   
}
#contenidodatos h3{

    margin:20px;
    color: #3b3630;
    text-decoration: solid;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

#contenidodatos p{

    margin:20px;
    color: #3b3630;
    text-decoration: solid;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
}


.footer{

        max-height: 100%;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        display: block;   

}
.footer h2{

    padding-top: 10px;
    margin: 0ch;
    text-align:center;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    color: #3b3630;

}

.iconosredes ul{

    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 0ch;
}

.iconosredes ul li{

    display: inline-block;
    width: 50px;
    height: 50px;
    list-style-type:none;
    justify-content: center;
    text-align: center;
    
    
    
}

.iconosredes ul li a{

     display: block;
     padding: 0px 10px;
     background:#3b3630;
     color: #fac699;
     line-height: 50px;
     font-size: 18px;
     box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
     transition: .2s;

}

.iconosredes ul :hover a{
      filter: blur(2px)
}

.iconosredes ul li a:hover{

    transform: translateY(-3px) scale(1.05);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.iconosredes ul li .facebook:hover{
    background: blue;
}
.iconosredes ul li .instagram:hover{
    background:crimson;
}
.iconosredes ul li .twitter:hover{
    background: #00acee;
}
.iconosredes ul li .linkedin:hover{
    background: #0A66C2;
}

